# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
neo4j_data/
neo4j_logs/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# model artifacts
merged_jokebear_model/
merged_jokebear_model_v1/
*.safetensors
*.safetensors.index.json

# Python cache
__pycache__/
*.pyc

# Python cache
__pycache__/
*.pyc
